dist: trusty
sudo: false
language: node_js
node_js:
- 8.4.0
branches:
  except:
  - "/\\+travis\\.\\d+$/"
env:
  global:
  - NPM_REGISTRY=https://atomist.jfrog.io/atomist/api/npm/npm-dev-local
  - secure: enmvJj8bz/QwfO0wbxhBbK5yhfa5Ii7rXyjizPlBPl685ObRqsU1Zv9nR0squBLL6XMl5vvAvwn4bwv7E2+94+/+F06/fsiL8kTTIiqTO3TkWjZfai/WlyCIKQFxyGeuozwhmcfSqYLy/m1RBepSqMoxhwxC2Ph2ZJN8EPLV3nCH1jUHRlA9f1mpqu73OlmKmE/WP4uyHbkAmKDVSJtlp0mc/lcRG8dihp2YP8+qucC+SwXX4uFZhOvI7hotrGVD5X01CyD4kTnme1fAqv9KX+ZO8wdmmjYHGqDy5eEIa7ThM5Sy4Ums/N0aM6r2fTt2as1n+b/VxmBtKm3PpL81GC3WjoIueElCmuKlbc39bjrcYQtrlgnJ68AqVOyCjrCTSMUBgQnNRG08XQquh54lhUq/od9Hg274z0Ohd9k6fxUuvpxJjylxccdwFm7GyS5OSqew9A34dpKmynWjQWaDIFzzOV+LUpdY2mMIvIC5622Vm7tYbDplZTAXMEH22JfIffo46XWZriaS21jZBo+3mkikffA7c0Tc8L+V6+n5DQoxVTkf3lz9UH0D5DNfrEnW9IZ7T4CID0xQ0FmLaQtgBsswvSzXv/Gt0aHk2wtJd68CkU6rREaGZ0dn/qtQcD1ApdKyKL529ryTeWC+H+0eBaA/V+i27F3JeDWJQPbHT7Y=
before_install:
- openssl aes-256-cbc -K $encrypted_e466dd0f1e03_key -iv $encrypted_e466dd0f1e03_iv
  -in scripts/.npmrc.enc -out $HOME/.npmrc -d
script: bash scripts/travis-build.bash
notifications:
  email: false
  webhooks:
    urls:
    - https://webhook.atomist.com/atomist/travis/teams/T29E48P34
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
cache:
  directories:
  - "$HOME/.npm"
deploy:
  provider: releases
  api_key:
    secure: M8yF6uIEmOJ56KV286PlM9cNph4ZRohDhkOKiuSob5P65GLMmjy88oZ8njppPnn8u76lJH2o0jCgznlcE+UZHtoWRdTFxaPD3xWbvgwGuScdnKz2wDe2EsC42jkjsr1c1daPjQ9bvF9IbHBknLDhZLs4vOl5ny2jsO8SDW94S2GwqmjQ6XiDKVGHBi4o7xieR67oGlxbsH10+OgIBfXUe8wZh3jGKB6Moc5Ln01l/JR/8ic3CCm6JhvaMooLHoxgGatwx/YOztn5MrrMXthOia2MAGX2yMMyPE5lZKjqw42LdU/yTtJhP9bRU+GNVx9MCGNhiMTCzM1pJkCizLx4+dYRepqdvnWq3P6qbn1vgAk6PR/Re6rMPDj1q7SZ4MKSoCtB5OpkI7Ld2mR7b8tz63ybcsdm/YWRDAfxTXdrAmp22IY4U3kRvQj7MrETHb+hBVosumiZb7XrVKp1QWqevHNS1be93Fdj9Gs+aH+r7ucRxxn9a2bvYBdIdmpeUgHijds5qEx5PV3C4AvtCqvwM22xIUr3DcTm5DbMtsf+6Uc+BQEKBg/++o9MRnjARhhekOwHpwp+Ce+5VmF2tcvSH448unzYccpImfkedP5f0tI4De/b3v6dntUr8ZBDItxTkN0OFljBzli2gbjwlCv9wwWTHx0uqFVIyYZ1DniFIE0=
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^[0-9]+\\.[0-9]+\\.[0-9]+(-(m|rc)\\.[0-9]+)?$"
after_deploy:
- bash scripts/gh-publish.bash $TRAVIS_REPO_SLUG
