
<h2>Command handler {{name}}</h2>

{{description}}
<br/>
<br/>

<form method="get">

    {{#parameters}}
    {{#displayable}}
    <b>{{display_name}}</b>: {{description}} <i>({{validInput}})</i>
    <br/>
        <input type="text" name="{{name}}" value="{{default_value}}"><br>
    {{/displayable}}
    {{/parameters}}

    <input type="submit" value="Run and view HTML" formaction="/command/run-{{name}}.html">
    <input type="submit" value="Run and view JSON" formaction="/command/{{name}}">
</form>

<hr/>
<a href="/">Home</a>