<!DOCTYPE html>
<html lang="en">

<head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{name}} - Atomist Automation Client</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Include the CSS -->
    <link href="/dist/toolkit-inverse.min.css" rel="stylesheet">
    <link href="/assets/css/application.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css">
</head>

<body>
    <div class="container">
        <div class="text-center">
            <img class="card-img-top" src="/assets/imgs/logo.png" alt="Atomist">
        </div>
        <div class="card-block">
            <h4 class="card-title">{{name}}</h4>
            <p>{{description}}</p>
            <form method="get" id="command-form" name="command-form" action="/command/{{route}}">
                {{#mapped_parameters.length}}
                <h5 class="card-title">Mapped Parameters</h5>
                {{/mapped_parameters.length}}
                {{#mapped_parameters}}
                <div class="form-group">
                    <label for="{{name}}">{{name}}</label>
                    <select class="form-control" id="mp_{{name}}" name="mp_{{name}}" aria-describedby="mp_{{name}}-help">
                        {{#value}}
                        <option>{{.}}</option>
                        {{/value}}
                    </select>
                    <small id="mp_{{name}}-help" class="form-text text-muted">{{description}}</small>
                </div>
                {{/mapped_parameters}}
                <h5 class="card-title">Required Parameters</h5>
                {{#parameters}}
                {{#displayable}}
                {{#required}}
                <div class="form-group">
                    <label for="{{name}}">{{name}}</label>
                    <input type="text" class="form-control form-control-sm" id="{{name}}" name="{{name}}" value="{{default_value}}" aria-describedby="{{name}}-help" data-validation="custom" data-validation-regexp="{{{pattern.source}}}" {{#required}}required{{/required}}>
                    <small id="{{name}}-help" class="form-text text-muted">{{description}}</small>
                </div>
                {{/required}}
                {{/displayable}}
                {{/parameters}}
                <h5 class="card-title">Optional Parameters - <small><a data-toggle="collapse" href="#collapse-optional" aria-expanded="false" aria-controls="collapse-optional">show more <span class="icon icon-triangle-right"/></a></small></h5>
                <div class="collapse" id="collapse-optional">
                {{#parameters}}
                {{#displayable}}
                {{^required}}
                <div class="form-group">
                    <label for="{{name}}">{{name}}</label>
                    <input type="text" class="form-control form-control-sm" id="{{name}}" name="{{name}}" value="{{default_value}}" aria-describedby="{{name}}-help" data-validation="custom" data-validation-regexp="{{{pattern.source}}}" {{#required}}required{{/required}}>
                    <small id="{{name}}-help" class="form-text text-muted">{{description}}</small>
                </div>
                {{/required}}
                {{/displayable}}
                {{/parameters}}
                </div>
                </p>
                <div class="text-right">
                    <input type="submit" class="btn btn-primary" value="Run">
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal-result" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-result-title">Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-result-body">
                    <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    loading
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container container-fluid">
            <p class="text-muted text-center" id="footer"></p>
        </div>
    </footer>

    <!-- Include jQuery (required) and the JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="/assets/js/tether.min.js"></script>
    <script src="/dist/toolkit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/json.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script>
        $.validate({
            lang: 'en'
        });

        var frm = $("#command-form");
        frm.submit(function (e) {
            $('#modal-result-title').html("{{name}}");
            $('#modal-result').modal('show');
            e.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {

                    $('#modal-result-body').html("<p class='alert alert-success alert-full'><i class='fa fa-check' style='padding-right: 5pt' aria-hidden='true'></i>&nbsp;Command executed successfully.</p><pre style='font-size: 80%'><code class='json'>" + JSON.stringify(data, null, 2) + "</code></pre>");
                    hljs.initHighlighting();
                    $(document).ready(function() {
                        $('pre code').each(function(i, block) {
                            hljs.highlightBlock(block);
                        });
                    });
                    // Send redirect if we get a redirect url back from the command
                    if (data.redirect) {
                        setInterval(function() {
                            window.location.href = data.redirect;
                        }, 5000)
                        $('#modal-result-body').append("Redirecting to " + data.redirect + " in 5s");
                    }
                },
                error: function (data) {
                    $('#modal-result-body').html("<p class='alert alert-danger alert-full'><i class='fa fa-exclamation' style='padding-right: 5pt' aria-hidden='true'></i>&nbspCommand failed execution.</p><pre style='font-size: 80%'><code class='json'>" + JSON.stringify(data.responseJSON, null, 2) + "</code></pre>");
                    hljs.initHighlighting();
                    $(document).ready(function() {
                        $('pre code').each(function(i, block) {
                            hljs.highlightBlock(block);
                        });
                    });
                },
            });
        });

        $('#modal-result').on('hidden.bs.modal', function (e) {
            $('#modal-result-body').html("<i class='fa fa-spinner fa-spin fa-1x fa-fw'></i><span class='sr-only'>Loading...</span> loading");
        })

    </script>
</body>

</html>
