<!DOCTYPE html>
<html lang="en">

<head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Atomist Automation Client</title>

    <!-- Include the CSS -->
    <link href="dist/toolkit-inverse.min.css" rel="stylesheet">
    <link href="assets/css/application.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="text-center">
            {{#message}}
            <div class="alert alert-danger text-center" role="alert">
                {{message}}
            </div>
            {{/message}}
            <img class="card-img-top" src="assets/imgs/logo.png" alt="Atomist">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <p class="card-text">Please login with GitHub to access the Automation Client Dashboard.</p>
                <a href="/auth/github" class="btn btn-primary" style="vertical-align: text-top"><i class="fa fa-github fa-lg" aria-hidden="true"></i>&nbsp;Login with GitHub</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container container-fluid">
            <p class="text-muted text-center" id="footer"></p>
        </div>
    </footer>

<!-- Include jQuery (required) and the JS -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="dist/toolkit.min.js"></script>

</body>

</html>
